<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sctoce.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/15dcf363-45ef-4bdb-b1af-95804617876f/resourceGroups/SCtoCE_group/providers/Microsoft.Web/sites/SCtoCE</ResourceId>
    <UserName>$SCtoCE</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://sctoce.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>